---
import Layout from "../../layouts/Layout.astro";
import HeaderImages from "../../components/header-images";
---

<Layout title="Arktinen ruokavalio" headerImg={HeaderImages.Top1}>
  <h2>Arktinen ruokavalio</h2>

  <div>
    <p>
      Suurin osa ruokavalion energiasta tulee voista. Sen syömisessä on oma
      työnsä, sillä voita varataan puolikiloa paria ja päivää kohden. Suoli vain
      tuppaa liukastumaan hieman normaalia nopeammaksi.
    </p>
    <p>
      Lounaalla nautitaan yksi pakastekuivattu ruokapussi per henki. Pussiin
      vain kaadetaan termospullosta kuuma vesi, odotellaan hetki, ja syödään.
    </p>
    <p>
      Päivälliseksi/iltapalaksi tehdään kunnon ruoka. Perusraaka-aineena on
      pasta, riisi tai perunamuusi, ja sekaan käytetään erilaisia kuivatuotteita
      (karibun lihaa, valmiskastikepusseja, valmiskeittopusseja), sekä voita,
      juustoa, pekonia ja metwurstia. Viimeisten pilkkomisessa on ollut useasti
      ikävä kirvestä, tuotteet kun ovat kunnon syväjäässä eikä niihin tahdo
      puukko tepsiä.
    </p>
    <p>
      Eväillä kukin retkikunnan jäsen vetää perässään noin 1,1kg ruokaa per
      päivä, josta saa noin 6000 - 7000 kCal energiaa. Ja silti kilot karisevat
      vyötäröltä; arktista retkeilyä suositellaan kaikille syömisestä pitäville
      mutta laihtumista toivoville. Ahkiossa vedetään luonnollisesti myös ruuan
      valmistamiseen tarvittava polttoaine, jota on noin 400g per henki per
      päivä.
    </p>
    <p>Lopuksi vielä jokaiselle kotiin kokeiltavaksi pieni aamuherkku:</p>
  </div>

  <aside id="food-recipe">
    <img
      alt="Tero ja Perttu aamupuurolla"
      src="/images/tero-ja-perttu-syo.jpg"
    />

    <h2>Pertun ja Teron aamupuuro</h2>

    <div>
      <ul>
        <li>227 g voita paloiksi pilkottuna (puoli paikallista pakettia)</li>
        <li>2 dl kaurahiutaleita tai muita puurohiutaleita</li>
        <li>1,5 dl mysliä</li>
        <li>1 dl riisiä</li>
        <li>1 dl soijarouhetta</li>
        <li>1 dl sokeria</li>
        <li>0,5 dl maitojauhetta</li>
        <li>1 pss valmiskiisseliä (mustikka, vadelma tai mansikka)</li>
        <li>kourallinen rusinoita</li>
        <li>1,5 l vettä</li>
      </ul>
      <p>
        Kaikki ainekset sekoitetaan ja kiehautetaan, jonka jälken kattila
        nostetaan tulelta ja peitetään kannella. Odotetaan noin 15 min ja
        sekoitetaan. Voidaan koristella/maustaa pepperonilla, juustolla,
        pekonilla, tai millä vain käsiin sattuvalla ruokatuotteella. Nautitaan
        hyvässä seurassa, epämiellyttävässä asennossa, ja mieluiten pienessä
        kiireessä. Palan painikkeeksi sopii näkkileipä ja kaakao.
      </p>
    </div>
  </aside>
</Layout>
