
/***********************
    HTML tags
*************************/
* {
    padding: 0;
    margin: 0;
}

body {
    /* Taustakuva */
    background-image: url(http://www.pohjoisnapa.fi/kuvat/gif/sana-finnish.gif);
    background-position: 20px 150px;
    background-repeat: no-repeat;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    /* Laitetaan tekstit oletuksena valkoisiksi */
    color: #FFFFFF;
    background-color: #006699;
    line-height: 1.30em;
}

p {
    padding: 0 0 0.8em 0;
}

h2 {
    text-transform: uppercase;
    padding: 0 0 0.1em 0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #FFFFFF;
}

h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    padding: 0.5em 0 0 0;
}

h4 {
    padding: 2em 0 0.2em 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

h5 {
    text-align: left;
}

.content h5 a:link, .content h5 a:visited {
    color: #fff;
}

img {
    border: 0;
    border-width: 0;
}

ol {
    padding-left: 30px;
    margin-bottom: 20px;
}


ul {
    padding: 0 0 0.8em 0;
    margin-left: 25px;
}

a.ulkoinen:link, a.ulkoinen:visited, a.ulkoinen:active {
    color: #CCCCCC;
    text-decoration: underline;
}

a.ulkoinen:hover {
    color: #FFFFFF;
}



/***************************
    PÄÄOSIOT
***************************/
div.body {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    /*border: solid 4px black;*/
}

div.header {
    position: relative;
    margin-bottom: 30px;
    height: 245px;
    text-align: left;
    /*border: solid 1px red;*/
}


/* Sivun leipätekstisisältö on tämän elementin sisällä */
.content {
    min-height: 290px;
    position: relative;
    z-index: 2;
}

.clear {
    clear: both;
}




/* Contentin sisällä olevat linkit sekä kielen vaihto */
.content a:link, .content a:visited, .content a:active, .changelanguage a:link, .changelanguage a:visited, .changelanguage a:active {
    color: #CCCCCC;
    text-decoration: none;
}

.content a:hover, .changelanguage a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/* Teksti- ja kuvablokit yleisesti */

.content div, .content span {
    position: relative;
    overflow: visible;
}

/* Kielen vaihto */
.changelanguage {
    text-align: right;
}


.footnote {
    margin-top: 10px;
}

/* ***********************************************************************   */
/*                Vain pääsivulla (Default.aspx) käytetyt elementit             */

.etusivu {
    width: 595px;
    margin: 0.1em 0 1.1em 145px;
}

.kokoblokki {
    width: 100%;
    min-height: 150px;
}

.puoliblokki {
    width: 47%;
}

.vasen {
    float: left;
    clear: left;
}

.oikea {
    float: right;
}

/* Etusivulla oleva tuorein päiväkirjakuva */
.etus_pienikuva {
    position: relative;
    float: right;
    vertical-align: top;
    width: 128px;
    height: 100px;
    padding: 0 0.5em 0 1em;
    z-index: 1;
}



/* ***********************************************************************   */
/* Artikkelidokumenttien tekstit ja kuvat */

.artikkeli {
    width: 735px;
    margin-top: 15px;
    text-align: left;
}

    .artikkeli ul {
        margin-left: 25px;
    }

.artikkelikuva {
    float: right;
    position: relative;
    width: 360px;
    margin: 15px 0 15px 15px;
    z-index: 1;
    text-align: left;
}


    .artikkelikuva img {
        margin-bottom: 2px;
    }

    .artikkelikuva div {
        margin-left: 10px;
    }


/* ***********************************************************************   */


/* Päiväkirjan teksti */
.paivakirja {
    float: left;
    width: 353px;
    padding-right: 20px;
    margin-top: 15px;
}


/* Päiväkirjan kuvat */
.paivakirjakuva {
    float: right;
    width: 360px;
    margin-bottom: 20px;
    margin-top: 15px;
    z-index: 1;
}

    .paivakirjakuva a {
        margin: 0;
        padding: 0;
    }

    .paivakirjakuva img {
        margin-bottom: 2px;
    }

    .paivakirjakuva p {
        margin: 0px 10px 5px 10px;
    }



.hiihtajat {
    position: relative;
    float: right;
    z-index: 30;
    width: 300px;
    margin-top: 15px;
}

    .hiihtajat img {
        border: 0;
        padding: 0.1em 0.8em 0.1em 0.8em;
    }

    .hiihtajat span {
        float: left;
        width: 95px;
        height: 120px;
        text-align: center;
        margin-right: 5px;
        margin-left: auto;
        font-size: 85%;
    }

/* Päiväkirjan editointikommentti */
.lasteditedblock {
    font-style: italic;
    color: #CCCCCC;
}

/**************************
    ERIKOISET
**************************/
.poikkeus {
    width: 460px;
    border-bottom: dotted 1px #FFFFFF;
    padding: 0 0 0.2em 0;
}

.poikkeus2 {
    width: 340px;
    height: 18px;
    border-bottom: dotted 1px #FFFFFF;
    padding: 0 0 0.1em 0;
    z-index: 50;
}








/**************************
    Muut
    **********************/


#viiva_galleria {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #3399CC;
    text-align: right;
    padding: 0 0 0 0;
    margin: 0 0 2px 0;
}

#texLoppuun {
    letter-spacing: 0.1em;
    padding: 0.3em 1em 3em 1em;
    margin: 0 0;
}

.pieni_texti_galleria {
    font-size: 0.8em;
    color: #3399CC;
}

.paikkatieto {
    font-family: Monospace, Courier New, Courier;
}

table.entrydata {
    margin-bottom: 30px;
}

    table.entrydata td {
        padding-right: 25px;
    }

#edel_seuraava {
    position: relative;
    float: left;
    clear: left;
    margin-top: 20px;
    padding-bottom: 20px;
}

table.paivakirjalista {
    margin-bottom: 45px;
}

    table.paivakirjalista td {
        padding-right: 25px;
    }

/***************************
    KUVAT
***************************/
.logo {
    position: absolute;
    left: 32px;
    top: 118px;
    width: 202px;
    z-index: 3;
}

.kartta {
    position: absolute;
    width: 126px;
    left: 0px;
    top: 182px;
    z-index: 1;
}

.vesileima {
    background-image: url(http://www.pohjoisnapa.fi/kuvat/gif/vesileima.gif);
    background-position: 267px 196px;
    background-repeat: no-repeat;
}

.gradient {
    background-image: url(http://www.pohjoisnapa.fi/kuvat/jpg/gradient.jpg);
    background-position: 0px 196px;
    background-repeat: no-repeat;
}
/**********************************
    taustasanat
**********************************/
#sana_expedition {
    position: absolute;
    display: block;
    top: 270px;
    right: -210px;
    width: 197px;
    z-index: -1;
}
/******************************************
    GALLERIAAN
******************************************/

.thumb_galleria {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 653px;
    z-index: 30;
    padding: 3px 0 0 0;
}

    .thumb_galleria img {
        padding: 10px 2px;
    }

.selaimet {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 0px 0px 13px 0px;
    width: 190px;
    z-index: 30;
}

.kuvapohja {
    text-align: center;
}

/* **************************** */
/* Footer */

#footer {
    position: relative;
    width: 740px;
    height: 100px;
    text-align: center;
    z-index: 1;
    clear: both;
    /* border: solid 1px green;*/
    background-image: url(http://www.pohjoisnapa.fi/kuvat/gif/sana-unsupported.gif);
    /*background-position: -90px 60px;*/
    background-position: 0px 60px;
    background-repeat: no-repeat;
}

#viiva {
    width: 100%;
    height: 33px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    text-align: right;
    padding: 0 0 0 0;
    margin: 0 0 2px 0;
    background-image: url(http://www.pohjoisnapa.fi/kuvat/gif/tex_northpole2.gif);
    background-position: top right;
    background-repeat: no-repeat;
}

.footerText {
    font-size: 0.8em;
    color: #CCCCCC;
    text-align: center;
}

    .footerText a:link, .footerText a:visited, .footerText a:active {
        text-decoration: none;
        font-size: 1em;
        color: #CCCCCC;
    }

    .footerText a:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }

/* footerissa oleva polku */
.breadcrumb {
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
}

    .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
        color: #CCCCCC;
        text-decoration: none;
    }

    .breadcrumb a:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }

/* Tukijasivu */

#isottukijat {
    border-bottom: solid 1px #FFFFFF;
    margin-bottom: 20px;
}

    #isottukijat > div {
        min-height: 100px;
        margin-bottom: 10px;
    }

        #isottukijat > div > p, #isottukijat > div > h5 {
            margin: 0 0 10px 0;
            width: 400px;
            float: left;
            clear: right;
        }

        #isottukijat > div > h5 {
            font-size: 1.2em;
        }

        #isottukijat > div > a {
            display: block;
            float: left;
            margin-bottom: 10px;
            vertical-align: middle;
            text-align: center;
            padding-right: 20px;
            width: 220px;
        }

#logotukijat h5 {
    font-size: 1.1em;
}

#logotukijat td {
    padding-bottom: 10px;
    padding-right: 10px;
    vertical-align: top;
}

#varustelista {
    width: 80%;
}

.largeTextRight {
    margin-left: 140px;
}

#orderContactInfo div {
    padding-bottom: 5px;
}

.ValidateError {
    color: Red;
    background-color: white;
}
