---
import AsidePage from "../../../components/AsidePage.astro";
import HeaderImages from "../../../components/header-images";
---

<AsidePage title="Previous arctic expeditions" headerImg={HeaderImages.Top7}>
  <div slot="left">
    <p>
      The Airborne Ranger Club of Finland began a series of Arctic expeditions
      in 1996 with an expedition to Spitsbergen. The expedition consisted of 17
      skiers. After a 2-week ski trek, they reached the summit of Mount
      Newtontoppen (1550 metres) in April 1996.
    </p>
    <p>
      The next expedition was Kalaallit Nunaat in 1999. The objective was to
      traverse the Greenland Continental Glacier. An 8-member team skied more
      than 600 kilometers in 32 days. Towards the end of the route, melt-waters
      caused huge problems; the team had to wade through chest-deep glacial
      streams. But finally, the team was able to dry out, overcome its
      difficulties, and ascend the mountain range on the western edge of the
      Greenland continental plate at the beginning of July, 1999. The objective
      had been reached!
    </p>
    <p>
      Greenland gave us a taste for what would be needed on extended
      expeditions, but it didn’t test our endurance skills in really cold
      conditions. So our third expedition took us to the Magnetic North Pole,
      which would require endurance in really cold temperatures (from -30 to -40
      degrees Celcius). In 2003, a team originally consisting of 11 members
      skied 650 km in 47 days.
    </p>
    <ul>
      <li>
        <a
          href="http://www.lsvjkilta.fi/arkisto/gronlanti/index.html"
          target="_blank"
          class="ulkoinen">Greenland expedition 1999</a
        >
      </li>
      <li>
        <a
          href="http://www.lsvjkilta.fi/napa/index.php"
          target="_blank"
          class="ulkoinen">Magnetic north pole expedition 2003</a
        >
      </li>
    </ul>
  </div>

  <img
    slot="right"
    style={{ width: "360px" }}
    alt="Frosted"
    src="/images/previous-expeditions/600px/naamat-huurussa.jpg"
  />
</AsidePage>
