---
import AsidePage from "../../../components/AsidePage.astro";
import HeaderImages from "../../../components/header-images";
---

<AsidePage title="Schedule" headerImg={HeaderImages.Top8}>
  <div slot="left">
    <p>
      The Expedition takes off on Wednesday 22 February at 6:40 from
      Helsiinki-Vantaa airport. The route goes via Amsterdam to Montreal, then
      to Ottawa where we'll wait 12 hours on the airport for the Resolute plain
      to take off. We'll arrive at Resolute 23 February afternoon. We will then
      start the acclimatisation, training and packing which will last based on
      the preliminary schedule until the 5 March.
    </p>
    <p>
      During this time, we'll check all materials already sent to Resolute as
      well as materials we have ordered to be delivered there. We'll either fix
      or replace damaged goods and pack the pulkas. At that time, we'll get use
      to the cold climate, practise skiing and camping routines and finish the
      last details. We'll also pack those materials which can be dropped to us
      in case we need to rely on external support.
    </p>
    <p>
      On the 5 March we'll pack <a href="https://borekair.com/fleet/"
        >Twin Otter</a
      > and get transported to 1000 kilometers north to Ward Huntt. We'll be using
      two plains to get to the startng position. When everything is ready, we'll
      clip on the skis, ski for 8 weeks and that's it! We'll arrive to the Pole just
      in time to celebrate the First of May. We'll transport to Longyearbyen in the
      beginning of May. Based on the preliminary schedule, we'll return back to Helsinki
      around 4 May.
    </p>
  </div>

  <img
    slot="right"
    alt="Leirin pystytys"
    src="/images/expedition/leirin-pystytys.jpg"
  />
</AsidePage>
