---
import Layout from "../../../layouts/Layout.astro";
import HeaderImages from "../../../components/header-images";
import SponsorList from "../../../components/SponsorList.astro";
---

<Layout
  title="Expedition sponsors and supporters"
  headerImg={HeaderImages.Top5}
>
  <h2>Expedition sponsors and supporters</h2>

  <p>Special thanks to: support-team and Huurre-expedition</p>

  <SponsorList />
</Layout>
