---
import Layout from "../../../layouts/Layout.astro";
import HeaderImages from "../../../components/header-images";
---

<Layout title="Media coverage" headerImg={HeaderImages.Top5}>
  <h2>Media coverage</h2>

  <p>
    During the trek MTV 3 Huomenta Suomi, Radio Nova, Apu-magazine and
    Retki-magazine will follo expeditions progress. In addition, several
    national and local newspapers and magazines will write articles about the
    expedition.
  </p>
  <p>Later on year 2006 a TV documentary is produced.</p>

  <h3>Articles about the expedition</h3>

  <p>
    Including only articles that have been written before departure. [Note:
    Links removed since articles have already been removed from the internet.]
  </p>

  <ul>
    <li>Päämääränä pohjoisnapa, Apu, 2/2006</li>
    <li>Ahkiot arkkuun ja matkaan, Apu, 4/2006</li>
    <li>Maailman ääriin, Retki, 8/2005</li>
    <li>Kohti pohjoista, Retki, 2/2006</li>
    <li>Kohti maantieteellistä pohjoisnapaa, Somero, 14.2.2006</li>
    <li>Lsvjkiltalaiset tuntevat arktiset olot, Länsiväylä, 4.2.2006</li>
    <li>
      Kylmää kyytiä, Satakunnan kansa, viikkoliite Virta, 13.1.-19.1.2006{" "}
    </li>
    <li>
      From Everest to the North Pole: Airborne Ranger Club of Finland
      unsupported attempt in 2006, ThePoles.com 23.10.2005
    </li>
  </ul>

  <h3>Media coverage</h3>

  <ul>
    <li>Radio Nova, etenkin viikonloppuisin</li>
    <li>Huomenta suomi, MTV 3, joka maanantai kello 6.38</li>
  </ul>
</Layout>
