---
import Layout from "../../../layouts/Layout.astro";
import HeaderImages from "../../../components/header-images";
---

<Layout title="Kirja" headerImg={HeaderImages.Top5}>
  <h2>Pohjoisnapa - Jäinen haaste</h2>

  <p>
    Laskuvarjojääkärikillan retkikunta saavutti suomalaisella sisukkuudella
    maantieteellisen pohjoisnavan 29. huhtikuuta 2006. He iskivät Suomen lipun
    jäälohkareen kylkeen keskellä arktista jäälakeutta merkiksi tavoitteensa
    saavuttamisesta.
  </p>
  <p>
    Kahden kuukauden aikana naparetkeilijät hiihtivät 800 kilometriä ja
    kohtasivat vaikeakulkuisia ahtojäitä, ylittivät avovesiä sekä elivät ä40 äC
    pakkasessa ilman ulkopuolista tukea. Heitä ennen vain 32 henkilää maailmassa
    on kyennyt samaan.
  </p>
  <p>
    POHJOISNAPA- JäINEN HAASTE kertoo historiallisen retkikunnan vaiheet keräten
    laajan kokonaisuuden mielenkiintoiseen pakettiin. Runsas nelivärikuvitus
    tekee kirjasta näyttävän kokonaisuuden.
  </p>
  <p>
    Suomelaisesta sisusta ja rohkeudesta kertova kirja sisältää tarinoita ja
    tunnelmakuvauksia matkan varrelta, ennen julkaisemattomia
    päiväkirjamerkintäjä ja tietopohjaisia aiheeseen liittyviä artikkeleita.
  </p>
  <div>
    <h4>Pohjoisnapa - Jäinen haaste</h4>
    <table>
      <tbody>
        <tr>
          <td style={{ "padding-right": "10px" }}>Author:</td>
          <td>Kari Poppis Suomela</td>
        </tr>
        <tr>
          <td>ISBN:</td>
          <td>951-98376-1-2</td>
        </tr>
        <tr>
          <td>Publisher:</td>
          <td>
            Poppicok, <a href="http://www.poppicok.fi">www.poppicok.fi</a>
          </td>
        </tr>
        <tr>
          <td style={{ "vertical-align": "top" }}>Dimensions:</td>
          <td>
            272x230mm
            <br />
            184 pages. More than 140 images.
          </td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>39.90 &euro;</td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>

<style></style>
