<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <machineKey validationKey="558647E11BB149505FF489053D9246F45105DB36DB6CB289C513A21FCBF939D43E22AFEE5182352697176C48E761C93EBC8B58454EBA88E7F44D5C7511297933" decryptionKey="784FCC6A85B64067D7F2F95C490646E89D7B0120A913CD00" validation="SHA1"/>
    <globalization uiCulture="auto:fi-FI" culture="fi-FI"/>
    <pages theme="PohjoisnapaSininen" enableSessionState="false" enableViewState="false" controlRenderingCompatibilityVersion="4.0"/>
    <authentication mode="None"/>
  </system.web>
</configuration>