---
import Layout from "../../../layouts/Layout.astro";
import HeaderImages from "../../../components/header-images";
---

<Layout title="Arctic (expedition) diet" headerImg={HeaderImages.Top1}>
  <h2>Arctic (expedition) diet</h2>

  <div>
    <p>
      Butter and other fats bring most of the calories. Eating half a kilogram
      of butter per pair per day is sometimes a burden, and it isn't the easiest
      on the system.
    </p>

    <p>
      For lunch everyone has one freeze-dried expedition portion. This is easy
      and quick as everyone has hot water on their thermoses: just pour the
      water in, wait for a while, and enjoy.
    </p>

    <p>
      Dinner is cooked at tent. The base of it is the carbohydrates: either
      pasta, rice, or mashed potations. That is mixed with whatever dried
      ingredients are reserved for that day: caribou meat, sauce mixtures, soup
      mixtures, etc. Finally we add some butter, cheese, and bacon to get the
      calories up. Some of these ingredients are really hard to prepare since
      they are frozen solid.
    </p>

    <p>
      All of this adds up to 1.1 kg of food per person per day, with 6-7000 kCal
      of energy. In addition each member has about 400g of white gas per day.
    </p>

    <p>Here's a little recipe for anyone to try at home:</p>
  </div>

  <aside id="food-recipe">
    <img
      alt="Tero and Perttu eating morning porridge"
      src="/images/tero-ja-perttu-syo.jpg"
    />

    <h2>Morning porridge by Perttu & Tero</h2>

    <div>
      <ul>
        <li>227 g sliced butter (i.e. half of local packaging)</li>
        <li>2 dl oatmeal or whichever flakes available</li>
        <li>1.5 dl muesli</li>
        <li>1 dl rice</li>
        <li>1 dl soy (dried)</li>
        <li>1 dl sugar</li>
        <li>0.5 dl powdered milk</li>
        <li>1 kisel ration (blueberry, raspberry or strawberry)</li>
        <li>handful of raisins</li>
        <li>1.5 l water</li>
      </ul>
      <p>
        Mix all the ingredients. Bring to boil, remove from heat, cover with
        lid, and wait for 15 mins. Mix. Optionally decorate with pepperoni,
        cheese, bacon, or whatever you might have with you. Eat in an awkward
        position in a hurry, with dried bread on the side and hot chocolate for
        drink.
      </p>
    </div>
  </aside>
</Layout>
