---
import Layout from "../../../layouts/Layout.astro";
import HeaderImages from "../../../components/header-images";
---

<Layout
  title="Information about the arctic region"
  headerImg={HeaderImages.Top1}
>
  <h2>The Arctic</h2>

  <div class="content-two-column">
    <div class="content left">
      <p>In this section you can learn about the arctic region.</p>
    </div>

    <aside class="right">
      <img src="/images/paivakirja/paivakirja360.jpg" alt="Diary image" />
    </aside>
  </div>
</Layout>
