---
import AsidePage from "../../../components/AsidePage.astro";
import HeaderImages from "../../../components/header-images";
---

<AsidePage title="Orienteering in the arctic" headerImg={HeaderImages.Top1}>
  <Fragment slot="left">
    <div>
      <p>
        Miten napa-alueilla suunnistetaan kun ympärillä ei ole kuin jäälakeus ja
        kompassi toimii tuuliviirin lailla?
      </p>
      <p>
        Suunnistamme käytännössä auringon ja varjojen avulla. Tämä touhu eroaa
        hieman kesäisistä iltarasteista muutenkin kuin sään puolesta:
        karttojemme mittakaavat ovat 1:1 000 000 ja 1: 500 000 eikä rasteja ole
        piilotettu kuusennäreitten alle. Periaatteenamme on - karkeesti oikeaan
        suuntaan ja illalla GPS:stä katsotaan mihin jouduttiin. Päivässä kun ei
        ehdi hirveesti harhaan hiihtämään.
      </p>
      <p>
        Suunta otetaan <a href="#footnote1">legin<sup>1</sup></a> alussa ja se yritetään
        pitää samalla kun haetaan sopivaa reittiä lumikokkareiden joukosta. Päivän
        ensimmäisellä legillä mies asettaa suksensa esim. 60 astetta varjosta oikealle
        ja antaa paahtaa. Toisella legillä varjo on enää 45 astetta hiihtäjän vasemmalla
        puolella ja kolmannella 30 astetta jne. Ruokatauolla kuudennen legin jälkeen
        voidaan suuntaa hieman säätää, jos tarvetta on tai ei ole muita virikkeitä.
      </p>
      <p>
        Jos aurinko ja varjot katoavat pilviverhon taa, voi kulkusuuntaa
        karkeasti seurata tuulesta eli suunta on tuulesta temmattu. Tällöin
        kaikki odottavat illalla suurella mielenkiinnolla mihin oikein tultiin.
      </p>
      <p>
        Tilannetta, jossa ei tuule eikä taivas anna merkkejä auringosta, emme
        lähde tässä yksityiskohtaisesti selvittämään, sillä se selviää aikanaan
        - myös meille.
      </p>
    </div>
    <div class="footnote">
      <div>--</div>
      <p id="footnote1">
        <sup>1</sup>
        <i>Legi</i>: Retkikunnan käyttämä nimitys kahden tauon välillä
        kuljetusta matkasta. Yleensä legi kestää 55 minuuttia, ja sinä aikana
        ehditään maastosta riippuen hiihtää 0,5-3 km.
      </p>
    </div>
  </Fragment>

  <img slot="right" alt="Jermi ahtojäissä" src="/images/ahtojaissa-jermi.jpg" />
</AsidePage>
