.LanguageSwitcher {
    text-align: right;
    font-family: 'Verdana', 'Arial', 'Helvetica';
    // Ugly, but copies the original site
    font-size: 11.2px;
    margin: 4px 0 1px 0;

    color: #ccc;

    a, a:visited, a:active {
        color: #ccc;
        text-decoration: none;
    }
}