---
import Layout from "../../layouts/Layout.astro";
import HeaderImages from "../../components/header-images";
import Big from "../../components/SponsorBig.astro";
import Small from "../../components/SponsorSmall.astro";
---

<Layout title="Tukijat" headerImg={HeaderImages.Top5}>
  <div id="isottukijat">
    <Big
      name="Sasta"
      to="http://www.sasta.fi"
      img="/images/sponsors/Sasta.jpg"
    />
    <Big
      name="Marmot"
      to="http://www.marmot.com"
      img="/images/sponsors/Marmot.jpg"
    >
      Kivoja vaatteita ja mukavia värejä - myös pohjoisnavalle. Retkikunta
      käyttää Marmotin untuva-asuja ja makuupusseja.
    </Big>
    <Big
      name="Jalas"
      to="http://www.jalas.fi"
      img="/images/sponsors/Jalas.jpg"
    />
    <Big name="Apu" to="http://www.apu.fi" img="/images/sponsors/apu.jpg" />
    <Big
      name="Ernst & Young"
      to="http://www.ey.com/fi/"
      img="/images/sponsors/ey_vari.jpg"
    >
      Ernst & Young on taloushallinnon ja liikkeenjohdon
      asiantuntijaorganisaatio, jonka palveluksessa on 107 000 asiantuntijaa yli
      140 maassa. Suomessa henkilöstömme on lähes 500 ja 23 toimiston verkkomme
      kattaa koko maan. Toimintamme lähtökohtia ovat yhteistyö, nopeus,
      tulevaisuuteen suuntautuminen ja asiakkaan kannalta olennaiset tulokset.
      Autamme asiakkaitamme saavuttamaan liiketoiminnalliset tavoitteensa
      paremman riskienhallinnan, tuottavuuden nousun ja pienempien kustannusten
      kautta. Asiantuntijapalveluihimme kuuluvat tilintarkastus- ja
      neuvontapalvelut, sisäinen tarkastus, veropalvelut, lakipalvelut,
      yritysjärjestelyt, riskienhallintapalvelut, taloushallinnon asiantuntija-
      ja ulkoistamispalvelut, ulkomaankomennusten hallinnointipalvelut sekä
      tietoturva- ja IT-riskienhallintapalvelut. Lisätietoja:{" "}
      <a href="http://www.ey.com/fi/">www.ey.com/fi</a>.
    </Big>
    <Big
      name="J. Kärkkäinen Oy"
      to="http://www.karkkainen.com"
      img="/images/sponsors/karkkainen.jpg"
      width="147px"
    >
      J. Kärkkäinen Oy on kehittyvä ja nopealiikkeinen perheyritys
      Pohjois-Pohjanmaalta. J. Kärkkäinen Oy:n ydinliiketoimintana on
      vähittäiskauppa, jonka tuotevalikoima koostuu n. 150 000:sta "non-food"
      artikkelista. Yrityksen perusti Juha Kärkkäinen vuonna 1988. Nykyään
      Kärkkäisellä on isot tavaratalot sekä Ylivieskassa että Oulussa.
      Tuotevalikoimaa kehitetään jatkuvasti vastaamaan asiakkaiden tarpeita.
    </Big>
    <Big
      name="Alexandria Consulting Group"
      to="http://www.alexandria.fi"
      img="/images/sponsors/alexandria.gif"
    >
      Alexandria on Suomen johtava säästämiseen ja sijoittamiseen erikoistunut
      asiakaspalveluyhtiö. Tavoitteemme on kasvattaa asiakkaidemme
      varallisuutta. Jatkuvan menestyksemme ja kehityksemme on mahdollistanut
      kyky ennakoida asiakkaidemme muuttuvia tarpeita ja toiveita. Alexandria on
      yksityinen suomalainen yhtiö, jonka vakavaraisuus on AAA. Asiakkaitamme
      (yli 24.000) palvelee valtakunnallisesti n.150 henkilöä, 11 toimistoamme
      muodostavat kattavan verkoston ympäri maata. Alexandria Manager Funds
      -omaisuudenhoitorahastojen hallinnoitavat varat ovat yli 200 miljoonaa
      euroa. Vuosi 2006 on menestyksekkään toimintahistoriamme kymmenes.
    </Big>
  </div>

  <hr />

  <div id="logotukijat">
    <Small
      name="Siwa"
      to="http://www.siwa.fi"
      img="/images/sponsors/SiwaPieni.jpg"
    >
      Suomen suosituin lähikauppa.
    </Small>
    <Small
      name="Exel"
      to="http://www.exel.fi"
      img="/images/sponsors/exel.gif"
    />
    <Small
      name="Fischer"
      to="http://www.fischer.fi"
      img="/images/sponsors/fischer.png"
    />
    <Small
      name="Nikon"
      to="http://www.nikon.fi"
      img="/images/sponsors/nikon.gif"
    />
    <Small
      name="Hilleberg"
      to="http://www.hilleberg.se"
      img="/images/sponsors/hilleberg.jpg"
    />
    <Small
      name="Ruskovilla"
      to="http://www.ruskovilla.fi"
      img="/images/sponsors/ruskovilla.jpg"
    />
    <Small
      name="Mildola"
      to="http://www.mildola.fi"
      img="/images/sponsors/mildola2.jpg"
    />
    <Small
      name="Area"
      to="http://www.area.fi"
      img="/images/sponsors/area2.gif"
    />
    <Small
      name="Rammer"
      to="http://www.rammer.sandvik.com"
      img="/images/sponsors/rammer.jpg"
    >
      Rammer hits harder.
    </Small>
    <Small
      name="Vaiska"
      to="http://www.vaiska.fi"
      img="/images/sponsors/Vaiska.jpg"
    >
      Retkikuntaa tukemassa.
    </Small>
    <Small
      name="VBS Net"
      to="http://www.vbsnet.fi"
      img="/images/sponsors/Vbsnet2.jpg"
    >
      Pohjoisnapa.fi-sivujen tekijä.
    </Small>
    <Small
      name="Euromaski"
      to="http://www.euromaski.fi"
      img="/images/sponsors/Euromaski.gif"
    />
    <Small
      name="Vaasan & Vaasan Oy"
      to="http://www.vaasan.com"
      img="/images/sponsors/vaasan.jpg"
    />
    <Small
      name="Oracle Finland"
      to="http://www.oracle.fi"
      img="/images/sponsors/oracle.gif"
    />
    <Small
      name="Noptel"
      to="http://www.noptel.fi"
      img="/images/sponsors/noptel.jpg"
    />
    <Small
      name="Kiilto"
      to="http://www.kiilto.fi"
      img="/images/sponsors/kiilto.gif"
    />
    <Small
      name="Fazer"
      to="http://www.fazer.fi"
      img="/images/sponsors/fazer.gif"
    />
    <Small
      name="Polartherm"
      to="http://www.polartherm.fi"
      img="/images/sponsors/polartherm.gif"
    />
    <Small
      name="Garmin"
      to="http://www.garmin.fi"
      img="/images/sponsors/garmin.gif"
    />
  </div>
</Layout>

<style>
  #logotukijat {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
</style>
