---
import Layout from "../../layouts/Layout.astro";
import HeaderImages from "../../components/header-images";
import SponsorList from "../../components/SponsorList.astro";
---

<Layout title="Retkikunnan tukijalista" headerImg={HeaderImages.Top5}>
  <h2>Retkikunnan tukijalista</h2>

  <p>Erityiskiitokset: support-tiimi ja Huurre-retkikunta</p>

  <SponsorList />
</Layout>
