---
import Layout from "../../layouts/Layout.astro";
import HeaderImages from "../../components/header-images";
---

<Layout title="Retkikunnan medianäkyvyys" headerImg={HeaderImages.Top5}>
  <h2>Retkikunnan medianäkyvyys</h2>

  <p>
    Matkan aikana retkikuntaa säännöllisesti seuraavat MTV 3:n Huomenta Suomi,
    Radio Nova, Apu-lehti, sekä Retki-lehti. Myös useat valtakunnalliset ja
    alueelliset sanoma- ja aikakausilehdet seuraavat ja kirjoittavat
    retkikunnasta matkan aikana.
  </p>
  <p>
    Myöhemmin vuonna 2006 tehdään matkasta TV-dokumentti, tai -dokumenttisarja.
    Dokumentin julkaisuajankohta on vielä avoinna.
  </p>

  <h3>Retkikuntaa käsittelevät artikkelit</h3>

  <p>
    Mukana ovat vain artikkelit jotka on kirjoitettu ennen liikkeelle lähtöä.
    [HUOM: Kaikki artikkelit ovat jo kadonneet internetistä, siksi linkit on
    poistettu.]
  </p>

  <ul>
    <li>Päämääränä pohjoisnapa, Apu, 2/2006</li>
    <li>Ahkiot arkkuun ja matkaan, Apu, 4/2006</li>
    <li>Maailman ääriin, Retki, 8/2005</li>
    <li>Kohti pohjoista, Retki, 2/2006</li>
    <li>Kohti maantieteellistä pohjoisnapaa, Somero, 14.2.2006</li>
    <li>Lsvjkiltalaiset tuntevat arktiset olot, Länsiväylä, 4.2.2006</li>
    <li>
      Kylmää kyytiä, Satakunnan kansa, viikkoliite Virta, 13.1.-19.1.2006{" "}
    </li>
    <li>
      From Everest to the North Pole: Airborne Ranger Club of Finland
      unsupported attempt in 2006, ThePoles.com 23.10.2005
    </li>
  </ul>
  <h3>TV- ja radioesiintymiset</h3>

  <ul>
    <li>Radio Nova, etenkin viikonloppuisin</li>
    <li>Huomenta suomi, MTV 3, joka maanantai kello 6.38</li>
  </ul>
</Layout>
