---
import LanLink from "./LanLink.astro";
import { byLocale } from "./translations";
const t = byLocale(Astro.currentLocale);

import config from "../../astro.config.mjs";
const locs = config.i18n?.locales ?? [];
---

<div id="languageSwitcher">
  {
    locs
      .filter((l) => l !== Astro.currentLocale)
      .map((l) => (
        <LanLink to="/" lan={l}>
          {t("switchto_" + l)}
        </LanLink>
      ))
  }
</div>

<style>
  #languageSwitcher {
    text-align: right;
    font-family: "Verdana", "Arial", "Helvetica";
    font-size: 11.2px;
    margin: 4px 0 1px 0;

    color: #ccc;

    a,
    a:visited,
    a:active {
      color: #ccc;
      text-decoration: none;
    }
  }
</style>
