$gutter: 4px;
$thumbwidth: 100px;
$thumbheight: 80px;

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: $gutter;
  justify-content: space-evenly;

  img {
    width: $thumbwidth;
    height: $thumbheight;
    object-fit: cover;
  }
}

// Change how swiper behaves:
$width: 660px;
$height: 540px;

.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }
  .swiper-slide {
    width: $width;
    height: $height;

    figure {
      img {
        width: $width;
        height: $height - 60px;
        object-fit: contain;
        object-position: center;
      }
      figcaption {
        text-align: center;
      }
    }
  }
}
