footer div#footer-text {
    padding: 5px 0;
    border-top: solid 1px #fff;
    color: #ccc;
    font-size: 10px;
    text-align: center;
    padding-top: 2px;

    a, a:visited {
        text-decoration: none;
        color: #ccc;
    }

    a:hover {
        text-decoration: underline;
    }
}