---
import AsidePage from "../../components/AsidePage.astro";
import HeaderImages from "../../components/header-images";
---

<AsidePage
  title="Aikaisemmat arktiset retkikunnat"
  headerImg={HeaderImages.Top7}
>
  <div slot="left">
    <p>
      Laskuvarjojääkärikillan arktisten retkikuntien sarja alkoi 1996
      Huippuvuorten retkikunnalla. 17 henkeä hiihti kaksi viikkoa saavuttaen
      Newtontoppenin (1550) huipun huhtikuussa 1996.
    </p>
    <p>
      1999 Kalaallit Nunaat retkikunta ylitti Grönlannin mannerjäätikön.
      Kahdeksan henkinen retkikunta hiihti yli 600 kilometriä 32 vuorokaudessa.
      Lopussa sulamisvirrat aiheuttivat suuria ongelmia retkikunnan kahlatessa
      syvimmillään kainaloihin asti ulottuvissa jäätikköpuroissa. Grönlannin
      läntisille reunavuorille noustiin heinäkuun alussa. Mannerjäätikkö oli
      ylitetty.
    </p>
    <p>
      Grönlannissa saatiin kokemuksia pitkästä retkikunnasta mutta
      pakkaskokemukset jäivät vähäiseksi. Magneettisen pohjoisnavan retkikunta
      keräsi kokemuksia erittäin kylmistä olosuhteista (-30- -40C). 47
      vuorokauden aikana alun 11 henkinen retkikunta hiihti 650 kilometriä.
    </p>
    <p>
      <a
        href="http://www.lsvjkilta.fi/arkisto/gronlanti/index.html"
        target="_blank"
        class="ulkoinen">Grönlannin retkikunta 1999</a
      >
    </p>
    <p>
      <a
        href="http://www.lsvjkilta.fi/napa/index.php"
        target="_blank"
        class="ulkoinen">Magneettisen pohjoisnavan retkikunta 2003</a
      >
    </p>
  </div>

  <img
    slot="right"
    style={{ width: "360px" }}
    alt="Huurussa"
    src="/images/previous-expeditions/600px/naamat-huurussa.jpg"
  />
</AsidePage>
