#expedition-content {
    
    aside {
        height: 370px;
        display: flex;
        flex-flow: row wrap;
        
        figure {
            width: 95px;
            height: 120px;
            margin: 0 10px 5px 0;
        }
    }
}