---
import AsidePage from "../../components/AsidePage.astro";
import HeaderImages from "../../components/header-images";
---

<AsidePage title="Retkikunnan tavoitteet" headerImg={HeaderImages.Top2}>
  <div slot="left">
    <ol>
      <li>
        Saavuttaa pohjoisnapa ilman retkikunnalle koituvia pysyviä henkisiä tai
        fyysisiä vammoja, sekä ilman retkikunnan lähipiirille koituvia henkisiä
        vammoja.
      </li>
      <li>Hiihtää maantieteelliselle pohjoisnavalle.</li>
      <li>
        Olla ensimmäinen Suomalainen retkikunta, joka on hiihtänyt
        pohjoisnavalle ilman ulkopuolista tukea.
      </li>
      <li>Saavuttaa napa 55 päivässä.</li>
      <li>Kerätä tietoa ja kokemusta vaikeista arktisista olosuhteista</li>
    </ol>
    <p>
      Näiden tavoitteiden lisäksi ryhmän tavoitteena on osallistua tieteelliseen
      tutkimustyöhön koehenkilöinä ja näytteiden kerääjinä.
    </p>
  </div>

  <img
    slot="right"
    alt="Leirin pystytys"
    src="/images/expedition/leirin-pystytys.jpg"
  />
</AsidePage>
